html{
  scroll-behavior: smooth;
}
body{
  background-color: #212121;
  margin:0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
}
.container-fluid{
  background-color: #fff;
}
/* side-nav */
.vertical-nav-row{
  width: 100vw;
}
.vertical-nav{
  z-index: 500;
  width: 120px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 120px;
}
/* side-nav */
nav{
  position: fixed;
  z-index: 100;
  opacity: .99;
  background: transparent;
  /* box-shadow: 0px 5px 8px -8px #000; */
}
.nav-link span{
  color: #fff !important;
  letter-spacing: 2px;
}
.navbar-nav li{
  margin-right: 50px;
}
.home{
   color: #fff !important;
}
.nav-item span{
  color: #fff;
}
.nav-options ul{
  float: right;
}
.header{
  z-index: 50;
  height: 100vh;
  font-weight: 600;
}
.main-title{
  font-size: 45px;
  font-weight: bold;
}
.main-title u{
  color: #ffc107;
}
.header h3{
  color: #ffc107;
  font-size: 18px !important;
}
.landing-page{
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../img/landingBg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.UHVPE{
  color: #fff;
  letter-spacing: 5px;
}
/* about-section */
.border-4{
  border-left: 4px solid #673ab7;
  border-right: 4px solid #673ab7;
}
.slide-shadow{
  box-shadow: 5px 7px 10px -4px #212121;
}
.about-page{
  margin-top:5vh;
  height: 100vh;
  background-color: #fff;
  background-image: url("../img/aboutBg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
.about-content{
  width: 100vw;
  /* background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 20px -5px #212121; */
}
.faculty-video{
  font-size: 50px;
  text-align: center;
  height: 60vh;
}
.video-header{
  color: #000;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
}
.video-header i{
  font-size: 20px;
  color: #ffc107;
  text-align: center;
}
.slider-faculty{
  margin-top: 5vh;
}
.slider-student{
  margin-top: 20vh;
}
.students-video{
  font-size: 50px;
  text-align: center;
  height: 60vh;
}
.about-title{
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 150px;
  color: #673ab7;
  font-weight: bold;
  letter-spacing: 2px;
}
.about-title u{
  color: #000;
}
.text-details{
  font-size: 20px;
  /* font-weight: 550; */
  word-spacing: 2px;
  height: 40vh;
  color: #000;
  text-align: center;

}
/* about-section */
.resource-page{
  height: 100vh;
  background-color: #ffc107;
  color: #fff;
}
#navbarTogglerDemo03{
  float: right;
}
/* footer */
.footer{
  width: 100vw;
  text-align: center;
  padding: 20px;
}
/* footer */
@media (max-width:480px){

  .nav-link span{
    font-weight: none;
    text-shadow: none;
    letter-spacing: none;
  }
  .vertical-nav{
    visibility: collapse;
  }
  .landing-page{
    background-color: #ffffff;
    background-image: none;
  }
  nav{
    background: rgb(103, 58, 183);
  }
  .nav-options ul{
    float: left;
  }
  .home{
    float: left;
  }
  .navbar-toggler{
    float: right;
  }
  .nav-options ul{
    padding: 10px;
  }
  .nav-options ul li a{
    text-align: center;
  }
  /* about */
  .slider-faculty{
    margin-top: 5px;
  }
  .faculty-video{
    font-size: 50px;
    text-align: center;

  }
  .about-title{
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-top: 20px;
  }
    /* about */

}
